# Build Folders
bin/
obj/
out/

# Visual Studio files
.vs/
*.user
*.suo
*.pdb
*.exe
*.dll
*.cache
*.log

# NuGet packages
*.nupkg
packages/

# Rider IDE files (if using JetBrains Rider)
.idea/

# ReSharper
_ReSharper*/
*.DotSettings.user

# Others
*.dbmdl
*.bak